<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <span class="blue">TXT-</span> 
    <span class="blue-hover transition">blogs</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="margin-right: 50px;">
      <li class="nav-item active">
        <a class="nav-link" routerLink="view-blogs">View All Blogs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="create-blog">Create New Blog</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
